
body {
  margin: 0;
  padding: 0;
  color: <?= $textColor ?>;
  background: <?= $background ?>;
}

body, td, input, div, p, textarea {
  font-family: Tahoma, Arial, Helvetica;
  line-height: 140%;
}

* {
  font-size: 14px;
}

.smalltext {
  color: <?= $textColor2 ?>;
  font-size: 11px;
}

a {
  color: <?= $linkColor ?>;
}

.bottomborder {
  padding: 2px;
  margin-bottom: 2px;
  border-bottom: <?= $borderColor ?>;
}

.submenu {
}

#container {
  margin: -8px;
}

.pane {
  background: <?= $barBackground ?>;
  color: <?= $barText ?>;
  padding: 16px;
  border: 1px solid <?= $barText ?>;
}

.device_line {
  width: 240px;
  min-height: 33px;
  padding: 4px;
  cursor:pointer;
  display: inline-block;
}

.submenu > a {
  display: block;
  padding: 4px;
  border-bottom: 1px solid #048;
}

.device_icon {
  cursor: pointer;
  float: left;
  width: 140px;
  height: 124px;
  overflow: auto;
  border-radius: 10px;
  background: none;
  border: 1px solid #666;
  text-align: center;
  padding: 12px;
  margin: 8px;
}

.device_icon:hover {
  box-shadow: 0px 0px 10px #ffffff;
}

.state_0 {
  background: url('/hc/icons/glow_inactive_s.jpg');
  opacity: 0.7;
}

.state_0 > img {
  opacity: 0.3;
}

.state_1 {
  background: url('/hc/icons/glow_active_s.jpg');
  box-shadow: 0px 0px 10px <?= $baseColor ?>;
}

.state_1 > img {
  opacity: 1;
}

.messageline {
  background: #ff9;
  color: #000;
  display:none;
  text-align: center; 
  padding: 4px;
  margin-top: -2px;
}

.popupmsg {
  position: absolute;
  top: 40px;
  left:0;
  right:0;
  padding:12px;
  background: #ff0;
  color: black;
  z-index: 1000;
  text-align: center;
}

.device_icon2 {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  float:left;
  background-size: 64px;
  border-radius: 6px;
}


a {
  text-decoration: none;
  color: <?= $baseColor ?>;
  cursor: pointer;
}

input[type=text], input[type=password], textarea {
  border: <?= $borderColor ?>;
  background: <?= $barBackground ?>;
  color: <?= $barText ?>;
  padding: 4px;
}

.device_line select {
   padding: 2px;
   padding-left: 6px;
   margin: 0;
   border: none;
   border-left: 1px solid <?= $baseColor ?>;
   border-radius: 0;
   background: transparent;
   color: <?= $baseColor ?>;
   -webkit-appearance: none;
}

.device_line:hover select {
   color: <?= $hlColor ?>;
}

th {
  text-align: left;
}

th, td {
  padding: 4px;
}

.red {
  color: red !important;
}

#content_outer {
  margin-bottom: <?= $bigMargin ?>;
  margin-top: 48px;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  margin-bottom: <?= $stdMargin ?>;
  padding-bottom: <?= $stdMargin ?>;
}

#header_outer {
  background: <?= $barBackground ?>;
  color: <?= $barText ?>;
  text-shadow: 0 0 8px <?= $baseColor ?>;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: <?= $borderColor ?>;
}

#content {
  padding: <?= $stdPadding ?>;
  margin-bottom: <?= $bigMargin ?>;
  padding-bottom: <?= $bigMargin ?>;
}

#header {
  color: <?= $barText ?>;
  padding: 8px;
  font-weight: normal;  
}

#header a {
  color: <?= $barText ?>;
}

#menu {
  display: none;
  position: fixed;
  left:-1px;
  top: 35px;
  width: 150px;
  background: <?= $barBackground ?>;
  z-index: 1000;
  border: <?= $borderColor ?>;
}

#menu a {
  color: <?= $barText ?>;
  padding: <?= $stdPadding ?>;
  display: block;
  cursor: pointer;
  border-bottom: <?= $borderColor ?>;
}

.highlightable:hover div, a:hover {
  text-decoration: underline;
  color: <?= $hlColor ?>;
}

#menu a.selected {

}

#menu a.indented {
  padding-left: 24px;
}

.toolbar {
  padding: <?= $stdPadding ?>;
  padding-left: 12px;
  background: #eee;
  border-top: <?= $borderColor ?>;
  border-bottom: <?= $borderColor ?>;
  margin: -<?= $stdMargin ?>;
  margin-bottom: <?= $stdMargin ?>;
  margin-top:-4px;
  color: gray;
  overflow: hidden;
}

.unread {
  background: #ffc;
}

.overlay {
  position: fixed;
  top: 32px;
  right: 0px;
  width: 220px;
  max-height: 200px;
  background: #fff;
  border: <?= $borderColor ?>;
  padding: <?= $stdPadding ?>;
}

.overlay > div {
  margin: -<?= $stdPadding ?>;
  padding: <?= $stdPadding ?>;
}

#site-title > a {
  padding: <?= $stdPadding ?>;
  padding-left: 12px;
  display: block;
}

.graytext {
  color: gray;
}

.form-td-caption {
  width: 200px;
  text-align: right;
}

#preview-container {
  max-height: 220px;
  overflow: auto;
  margin-left: -10px;
  margin-top: -10px;
  margin-bottom: 5px;
}

#preview-container div {
  text-align: center;
}

.element-caption {
  margin-top: 4px;
  margin-right: <?= $stdMargin ?>;
}

.description {
  color: green;
  margin-top: <?= $bigMargin ?>;
  margin-bottom: <?= $bigMargin ?>;
}

textarea {
  height: 50px;
}

xx {
  -webkit-transition: background-color 2000ms linear;
  -moz-transition: background-color 2000ms linear;
  -o-transition: background-color 2000ms linear;
  -ms-transition: background-color 2000ms linear;
  transition: background-color 2000ms linear;    
}

.commenteditor {
  height: 50px;
  margin-top: <?= $stdMargin ?>;
  width: 95%;
}

#loader {
  padding: <?= $stdPadding ?>; 
  padding-left: <?= $bigMargin ?>;
}

input[type=button], input[type=submit], button, .btn {
  margin: 0;
  text-align: center;
  display: inline-block;
  padding: <?= $stdPadding ?>;
  color: <?= $baseColor ?>;
  min-width: 80px;
  cursor: pointer;
  border: <?= $borderColor ?>;
  <?= css_gradient('#000', $barBackground); ?>
  <?= css_rounded_borders('4px') ?>
}

input[type=button]:focus, input[type=submit]:focus, button:focus, .btn:focus,
input[type=button]:hover, input[type=submit]:hover, button:hover, .btn:hover {
  <?= css_gradient('#000', '#a93'); ?>
  <?= css_box_shadow('999', '8') ?>
  color: white;
}

.banner {
  border: <?= $borderBanner ?>;
  background: <?= $bgAttention ?>;
  padding: <?= $stdPadding ?>;
  margin-top: <?= $stdMargin ?>;
  margin-bottom: <?= $stdMargin ?>;
}

#fileupload {
  
}

#m-fixed {
  display: none;
  position: fixed;
  left: 0;
  width: <?= $menuWidth-10 ?>px;
  padding-left: <?= $stdMargin ?>;
  top: 47px;
  background: #fff;
}

#m-fixed > a {
  display: block;
  padding: <?= $stdPadding ?>;
  width: 95%;
}

#m-fixed > a > img {
  width: 16px;
}

#m-indented {
  /*margin-left: <?= $menuWidth ?>px;*/
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.narrow #header, .narrow #content, .narrow #footer {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.narrow #content {
  padding-top: 18px;
  padding-left: 18px;
}

.postitem, .commentlist, .entity {
  padding: <?= $stdPadding ?>;
  border: <?= $borderColor ?>;
  background: #ffffff;
}

.postitem, .entity {
  width: <?= $colWidth-12 ?>px;
  min-height: 30px;
  margin-bottom: 12px;
  padding-top: <?= $stdPadding ?>;
}

.double {
  width: <?= ($colWidth*2) ?>px;
}

.ultile {
  width: 100px;
  float: left;
  margin-left: 12px;
  margin-bottom: <?= $stdMargin ?>;
  border: <?= $borderColor ?>;
  
}

.commentshim {
  padding: 2px;
  border: <?= $borderColor ?>;
  margin-top: 4px;
  background: #f8f8f8;
  color: <?= $lightText ?>;
}

.comment {
  margin-top: 4px;
}
.comment .image, .postitem .image {
  float: left;
  height: 32px;
  width: 32px;
}
.comtext, .postext {
  padding-left: 40px;
  min-height: 32px;
}

.readmore, .hseparator {
  margin-left: -<?= $stdMargin ?>;
  margin-right: -<?= $stdMargin ?>;
}

.hseparator {
  margin-top: 4px;
  border-top: <?= $borderColor ?>;
}

.readmore {
  display: block;
  padding: 2px;
  padding-left: <?= $stdPadding ?>;
  border-top: <?= $borderColor ?>;
  margin-top: 4px;
  background: <?= $defaultBackground ?>;
  <?= css_gradient('#ffffff', $defaultBackground) ?>
}

.postcomments {

}

.postdetail {
  margin-bottom: <?= $stdMargin ?>;
}

.smallmsg {
  color: <?= $lightText ?>;
}

.indent {
  margin-left: 40px;
}

.commentlist {
  max-width: 500px;
}

.attachment {
  width: 100%;
}

.postactions, .postactions a {
  color: <?= $lightText ?>;
}

.postitem .attachment {
  margin-bottom: 5px;
  margin-top: 4px;
}

.errormsg {
  color: red;
  font-weight: bold;
  margin-top: -<?= $stdMargin ?>;
  margin-bottom: <?= $stdMargin ?>;
}

#stream {

}



